@media screen and (max-width: 1150px){
.okazja{
    
}
}
@media screen and (max-width: 950px){
.categories{
 gap: 20px;   
}
.categories a{
    font-size: 10px;
    gap: 0px;
}
}
@media screen and (max-width: 650px){
.categories{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 5px;
}
}
