*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{ 
    width: 100vw;
    height: 100vh;
}
header{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: 2px 2px 2px 2px lightgray;
    padding-bottom: 30px;
}
 .logo {
    width: 30%;
} 
.logo img{
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.search-bar{
    display: flex;
    width: 30%;
    
}
.search-bar input{
    width: 100%;
    height: auto;
    border: solid 1px lightgray;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search-bar svg{
    height: 30px;
}
.search-bar button{
    width: 40px;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(#3ce3f3, #2c6db0);
    border: none;
    cursor: pointer;
}
.search-bar button:hover{
    background-image: linear-gradient(#8be6ee, #5280ad); 
}
.icons{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px ;
    cursor: pointer;
}
.icons svg{
    width: 35px;
    margin: 20px;
}
.categories{
    width: 100%;
    position: absolute;
    top: 90px;
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.categories a{
    gap: 40px;
    text-decoration: none;
    font-weight: 300;
    color: black;
    font-size: 0.9rem;
   
}
.categories a:hover{
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 8px;
    
}
.mid{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(224, 224, 224, 0.39);
}
.mid img{
    margin: 30px;
    max-width: 100%;
}
.products{
    width: 100%;
    height: 100vh;
    background-color: rgba(224, 224, 224, 0.39);
}
.occasion{
    padding: 50px;
}
.okazja{
    width: 25%;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    font-size: 20px;
}
.okazja p{
    padding-top: 15px;
}
.okazja h1{
    font-size: 1.6rem;
    width: 100px;
}
.okazja span{
    font-size: 14px;
}
.sp1{
    text-decoration: line-through;
}
.okazja h2{
    text-align: center;
    padding-top: 40px;
}
.okazja-btn{
    display: flex;
    justify-content: end;
    margin-top: -35px;
}
.okazja button{
    width: 35%;
    height: 70px;
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(224, 224, 224);
    position: relative;
}
.okazja-img{
   width: 100%;
   height: 250px;
   border-radius: 10px;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -10px;
}   
.okazja-img img{
    width:50%;
    height: 200px;
}
.slider{
    position: relative;
    width: 100%;
    margin: 10px;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
    margin: 0;
}
img.displaySlide{
    display: block;
    animation-name: slide;
    animation-duration: 1s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes slide{
    from {
        transform: translateX(-10%);
        opacity: .6;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
    
}

@media screen and (max-width: 900px){

.icons svg{
    margin: 10px;
    width: 30px;
}
.logo img{
    display: block;

}
}
@media screen and (max-width: 700px){
    .icons{
        display: block;
    }
    .icons svg{
        margin: 10px;
        width: 20px;
        
    }
}
@media screen and (max-width: 600px){
.search-bar input{
    height: 30px;
}
.search-bar button{
    height: 30px;
}
}
    

